# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
.DS_Store

# Keystore files
*.jks
*.keystore

# Built application files
*.dex

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class